<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FileDownloadWinForm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FileDownloadWinForm.Properties.Settings>
            <setting name="NovelHost" serializeAs="String">
                <value />
            </setting>
            <setting name="NovelName" serializeAs="String">
                <value />
            </setting>
            <setting name="NovelUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="NovelMaxPages" serializeAs="String">
                <value />
            </setting>
            <setting name="NovelSaveTo" serializeAs="String">
                <value />
            </setting>
            <setting name="NovelUpdateMode" serializeAs="String">
                <value />
            </setting>
        </FileDownloadWinForm.Properties.Settings>
    </userSettings>
</configuration>